@use '../abstracts/variables' as *;
@use 'sass:color';

.navbar {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0; 

    background-color: rgba($nav-color, 0.7);

    margin: 20px;
    padding: $padding-sm $padding-md;
    border-radius: 15px;
    z-index: 100;

    &__section {
        display: flex;
        gap: 20px;

        &--left {
            justify-content: flex-start;
        }

        &--center {
            justify-content: center;
            flex-grow: 1;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__link {
        color: $font-color;
        background-color: transparent;
        text-decoration: none;
        font-size: 1rem;
        padding: $padding-sm $padding-md;

        border-radius: 15px;
    }

    &__button {
        padding: $padding-sm $padding-md;
        border-radius: 13px;
        border: 2px solid rgba($secondary-nav-color, 0.3);
        font-size: 1rem;
        transition: background-color 0.3s ease;
        cursor: pointer;
        
        &--logout {
            background-color: transparent;
            color: $font-color;

            &:hover {
                background-color: color.scale($nav-color, $lightness: -10%);
            }
        }

        &--login {
            background-color: transparent;
            color: $font-color;
            text-decoration: none;
            display: inline-block;
            text-align: center;

            &:hover {
                background-color: color.scale($nav-color, $lightness: -10%);
            }
        }
    }
}
