@use '../abstracts/variables' as *;
@use 'sass:color';

.card__btn {
    // width: 100px;
    // height: 45px;

    border: none;
    padding: $padding-sm $padding-md;
    background-color: $action-button;
    color: $font-color;

    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;

    
    &:hover {
        background-color: color.scale($action-button, $lightness: 10%);
    }
}