@use '../abstracts/variables' as *;
@use 'sass:color';

.card__btn {
    width: 150px;
    height: 45px;

    border: none;

    background-color: $action-button;
    color: $font-color;

    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;

    
    &:hover {
        background-color: color.scale($action-button, $lightness: 10%);
    }
}