@use '../abstracts/variables' as *;

.card-btn {
    width: 150px;
    height: 45px;
    border: none;
    background-color: $action-button;
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}