$primary-color: #131416;
$secondary-color: #1c1d21;
$nav-color: #050506;
$secondary-nav-color: gray;

$action-button: #335fff;
$cancel-button: crimson;
$locked-button: rgba(58, 60, 68);
$input-color: #2a2d4a;

$font-stack: 'Poppins', sans-serif;
$font-color: white;
$error-color: #ff3333;

$border-color: #ccc;
$padding-sm: 10px;
$padding-md: 20px;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-offset: 0px 10px 10px;
$shadow: #{$shadow-color} #{$shadow-offset};