$primary-color: #131424;
$secondary-color: #1f213b;
$nav-color: rgb(17, 17, 17);
$secondary-nav-color: gray;

$action-button: cornflowerblue;
$cancel-button: crimson;
$font-stack: 'Poppins', sans-serif;
$font-color: white;