$primary-color: #131424;
$secondary-color: #1f213b;
$nav-color: rgb(17, 17, 17);
$secondary-nav-color: gray;

$action-button: cornflowerblue;
$cancel-button: crimson;
$input-color: #2a2d4a;

$font-stack: 'Poppins', sans-serif;
$font-color: white;

$border-color: #ccc;
$padding-sm: 10px;
$padding-md: 20px;
$shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;