@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.weather {
    &__label {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        gap: 10px; // this creates space between "Text:" and the input
    }

    &__input {
        width: 200px;
        height: 40px;
        margin: 10px 0;
        @include input-style;

    }
  }