.album-container {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 770px;
    min-height: 662px;
}

.arrow-btn {
    border-style: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #e0e0e0;
}