.weather-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-time, .input-text {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    color: #333;
}

.weather-container label {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 5px;
}